// Bootstrap "Calculator component
@import 'calculator/variables';
@import 'calculator/mixins';
@import 'calculator/calculator';

// Well, that's just a decorator to position Calculator in the browser's tab
.⛱ {
  height: 100vh;
  .wrapper {
    height:85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
