{% extends "layouts/default.html" %}

{% block content %}

<!-- Wrapper for presentation purposes -->
<div class="wrapper">

    <!--  Here starts The Calculator -->
    <div id="js-calc" class="c_calc c_calc_frame">

        <!-- UI: Output display -->
        <section class="c_calc__display">

            <!-- User input -->
            <div class="c_calc__display__input js-userInput">
                <span data-calc-number1></span>
                <span data-calc-operator></span>
                <span data-calc-number2></span>
            </div>

            <!-- Output of an artithmetic operation -->
            <span data-calc-result class="c_calc__display__output" >0</span>

        </section>

        <!-- UI: Control panel -->
        <section class="c_calc__panel">

            <!-- Row 1 -->
            <div class="c_calc__panel__row">
                <div class="c_calc__panel__btn">
                    <button class="c_calc__btn c_calc__btn__tertiary" data-clear>AC</button>
                </div>
                <div class="c_calc__panel__btn">
                    <button class="c_calc__btn c_calc__btn__tertiary c_calc__btn--large" data-save>SAVE</button>
                </div>
                <div class="c_calc__panel__btn">
                    <button class="c_calc__btn c_calc__btn__secondary"data-operator="/">÷</button>
                </div>
            </div>

            <!-- Row 2 -->
            <div class="c_calc__panel__row">
                <div class="c_calc__panel__btn">
                    <button class="c_calc__btn c_calc__btn__primary" data-number=".">.</button>
                </div>
                <div class="c_calc__panel__btn">
                    <button class="c_calc__btn c_calc__btn__primary" data-number="0">0</button>
                </div>
                <div class="c_calc__panel__btn">
                    <button class="c_calc__btn c_calc__btn__primary">&nbsp;</button>
                </div>
                <div class="c_calc__panel__btn">
                    <button class="c_calc__btn c_calc__btn__secondary" data-operator="*">x</button>
                </div>
            </div>

            <!-- Row 3 -->
            <div class="c_calc__panel__row">
                <div class="c_calc__panel__btn">
                    <button class="c_calc__btn c_calc__btn__primary" data-number="1">1</button>
                </div>
                <div class="c_calc__panel__btn">
                    <button class="c_calc__btn c_calc__btn__primary" data-number="2">2</button>
                </div>
                <div class="c_calc__panel__btn">
                    <button class="c_calc__btn c_calc__btn__primary"data-number="3">3</button>
                </div>
                <div class="c_calc__panel__btn">
                    <button class="c_calc__btn c_calc__btn__secondary" data-operator="-">-</button>
                </div>
            </div>

            <!-- Row 4 -->
            <div class="c_calc__panel__row">
                <div class="c_calc__panel__btn">
                    <button class="c_calc__btn c_calc__btn__primary" data-number="4">4</button>
                </div>
                <div class="c_calc__panel__btn">
                    <button class="c_calc__btn c_calc__btn__primary" data-number="5">5</button>
                </div>
                <div class="c_calc__panel__btn">
                    <button class="c_calc__btn c_calc__btn__primary" data-number="6">6</button>
                </div>
                <div class="c_calc__panel__btn">
                    <button class="c_calc__btn c_calc__btn__secondary" data-operator="+">+</button>
                </div>
            </div>

            <!-- Row 5 -->
            <div class="c_calc__panel__row">
                <div class="c_calc__panel__btn">
                    <button class="c_calc__btn c_calc__btn__primary" data-number="7">7</button>
                </div>
                <div class="c_calc__panel__btn">
                    <button class="c_calc__btn c_calc__btn__primary" data-number="8">8</button>
                </div>
                <div class="c_calc__panel__btn">
                    <button class="c_calc__btn c_calc__btn__primary" data-number="9">9</button>
                </div>
                <div class="c_calc__panel__btn">
                    <button class="c_calc__btn c_calc__btn__secondary" data-resolve>=</button>
                </div>
            </div>

        </section>

    </div>

</div>

{% endblock %}
