// Mixin that is used to generate common styles-set for buttons
@mixin setButton($bg-color) {
  background-color: $bg-color;

  // Hover (web browser only)
  &:hover {
    background-color: darken($bg-color, 5%);
  }

  // Don't need to outline calculator's buttons
  &:focus {
    @if($HIDE_OUTLINE){
      outline: none;
    }
  }

  // Active state when user presses a button
  &:active {
    background-color: darken($bg-color, 15%);
  }
}

